<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/computador.css">
    <link rel="stylesheet" href="../css/imprimir.css">
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
    <title>Imprimir</title>
</head>
<body>
    <div class="container d-flex justify-content-right col-6">
        <img src="../img/logo.ico">
        <div class="container headerdata d-flex justify-content-center col-6">
            <div>
                <p>Fecha: <input type="text"></p>
                <p>Cotizacion n°: <input id="cotizacionId" type="text" autocomplete="off"></p>
            </div>
        </div>
    </div>
    
    <br>
    <div class="d-flex justify-content-center container">
        
        <div class="data col-6 d-flex flex-column justify-content-center text-center">
            <p>DATOS ASESOR COMERCIAL</p>
            <input type="text" class="form-control" autocomplete="off" value="Nombre: Mari Sol Ortega" ><br>
            <input type="text" class="form-control" autocomplete="off" value="Celular: 3133707425"><br>
            <input type="text" class="form-control" autocomplete="off" value="Correo: ortegasol625@gmail.com"><br>
            <input type="text" class="form-control" autocomplete="off" value="Oficina de venta: Centro comercial Florida"><br>
            <input type="text" class="form-control" autocomplete="off" value="Agenda tu cita Virtual o Presencial">
        </div>
        <div class=" data col-6 d-flex flex-column justify-content-center text-center">
            <p>DATOS ASESOR COMERCIAL</p>
            <input type="text" class="form-control" autocomplete="off"  value="Nombre: "><br>
            <input type="text" class="form-control" autocomplete="off"  value="Celular: "><br>
            <input type="text" class="form-control" autocomplete="off"  value="Cedula: "><br>
            <input type="text" class="form-control" autocomplete="off"  value="Correo "><br>
            <input type="text" class="form-control" autocomplete="off"  value="Ciudad: ">
        </div>
    </div>
    <br>
    <div class="d-flex justify-content-center text-center">
        <p>Resumen de viaje</p>
    </div>
    <div class="container text-center">
        <p>Destino: <input class="col-4" type="text" name=""><p>
        <p>Inicio del Viaje: <input type="text" class="col-1"> Final del viaje: <input  class="col-1" type="text"> Vigencia de compra desde: <input type="text" id=""> Hasta: <input type="text"></p>
        <p>Nombre Hotel Puntacana: <input type="text" autocomplete="off" class="ctextHotel col-3"> Nombre Hotel Santo domingo: <input type="text" autocomplete="off" class="ctextHotel col-3"></p>
        <p>Tipo de vuelo: <input type="text" autocomplete="off"> Aereolinea: <input type="text" autocomplete="off"></p>
    </div>
    <div class="text-center txt">
        <p>Plan incluye</p>
    </div>
    <div class="container d-flex justify-content-center">
        <div class="col-3 d-flex flex-column">
            <input type="text" value="Producto" class="planSpace encabezado form-control">
            <input type="text" value="Tiquetes aereos" class="planSpace form-control">
            <input type="text" value="Alojamiento" class="planSpace form-control">
            <input type="text" value="alimentacion" class="planSpace form-control">
            <input type="text" value="bebidas y cocteles" class="planSpace form-control">
            <input type="text" value="acomodacion doble" class="planSpace form-control">
            <input type="text" value="acomodacion triple" class="planSpace form-control">
            <input type="text" value="acomodacion multiple" class="planSpace form-control">
            <input type="text" value="maleta autorizada" class="planSpace form-control">
            <input type="text" value="seguro" class="planSpace form-control">
            <input type="text" value="Bono / tour por persona" class="planSpace form-control">
            <input type="text" value="Bono / prox viaje por pna" class="planSpace form-control">
        </div>
        <div class="col-7 d-flex flex-column" class="planSpace">
            <input type="text" Value="Descripcion" class="planSpace encabezado form-control">
            <input type="text" class="planSpace form-control" value="ida y regreso">
            <input type="text" class="planSpace form-control">
            <input type="text" class="planSpace form-control" value="sujeto a horario:">
            <input type="text" class="planSpace form-control">
            <input class="form-control planSpace" type="text" value="valor por persona:">
            <input type="text" class="planSpace form-control" value="valor por persona:">
            <input type="text" class="planSpace form-control" value="valor por persona:">
            <input type="text" class="planSpace form-control" value="10 kilos">
            <input type="text" class="planSpace form-control" value="garantia de viaje, asistencia medica, y seguro hotelero">
            <input type="text" class="planSpace form-control" value="">
            <input type="text" class="planSpace form-control" value="">
        </div>
    </div><br><br><br>
    <div class="container">
        <span>Cordialmente,<br>Marisol Ortega</span><br>
        <span>Asesora comercial</span><br>
        <span>On Vacation</span><br>
        <span>Celular: 3133707425</span>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>